@media (max-width: 600px) {



    .global-navbar {
        .navbar {
            .navbar-links {
                .navbar-link {
                    display: block;
                    margin: 2rem;
                    text-align: center;
                }

                .darkbtn {
                    width: 100%;
                }
            }
        }
    }

    .homebanner {
        padding: 1rem !important;

        .banner-content {
            margin: 1rem;

            .banner-img {
                display: none;
            }

            .banner-text {
                padding: 1rem;
                text-align: center;
            }
        }
    }

    .topbrands {
        .brands {
            padding: 0rem;
            margin: 1rem 0rem;

            img {
                object-fit: contain;
            }
        }
    }

    .products {
        padding: 2rem;

        .product-card {
            margin: 1rem 0rem;
            padding: 1rem 1.5rem;
            flex-direction: column;
            height: fit-content;
            text-align: center;

            img {
                width: 100px;
                height: 100px;
            }

            p {
                font-size: 15px;
            }
        }
    }

    .zeteffect {
        padding: 1rem;

        .zeteffect-img {
            display: none;
        }

        .zeteffect-internal {
            padding: 5rem 0rem;

            h4 {
                font-size: 16px;
                margin: 1rem 0rem 0rem 0rem;
                text-align: center;
            }


            .zeteffect-swiper {
                .zet-points {
                    padding: 2rem 1rem;
                    font-size: 16px;
                    width: fit-content !important;
                }
            }
        }


    }

    .whyus {
        .whyus-flex {
            display: flex;
            flex-direction: column;
            padding: 1rem !important;

            .whyus-col {
                img {
                    display: none;
                }
            }

            .whyus-points {
                align-items: center;
                display: flex;
                flex-direction: column;

                p {
                    padding: 0rem;
                    text-align: center;
                }
            }
        }
    }

    .startearning {
        clip-path: polygon(0% 13%, 100% 0%, 100% 87%, 0% 100%);
        padding-top: 25vw;
        padding-bottom: 25vw;

        .earning-bg {
            width: 190px;
            height: 330px;
            top: 20%;
            right: 25%;
        }

        .earning-container {
            align-self: center;
            padding: 4rem 1rem;


            .earning-slide {
                flex-direction: column-reverse;

                .earning-steps {
                    padding: 0.5rem;
                    text-align: center;
                    margin-top: 2rem;

                    .step-tag,
                    .progress-bar-bg,
                    h3 {
                        margin: auto !important;
                        display: block;
                        text-align: center;
                    }

                    .progress-bar-bg {
                        .progress-bar {
                            margin: 1rem 0rem 3rem 0rem;
                        }
                    }

                    h3 {
                        font-size: 20px;
                    }

                }

                video {
                    height: 280px;
                    width: 135px;
                    border-radius: 10px;
                }
            }

        }

    }

    .footer {
        .container {
            padding: 0rem;

            .footer-col {
                h6 {
                    font-size: 15px;
                }

                .footer-links {
                    font-size: 12px;
                }

            }
        }
    }


    .aboutus-banner {
        margin-bottom: -12rem;

        .about-banner-img {
            object-fit: cover;
            height: 400px;
            width: 100%;
        }

        .aboutus-text {
            bottom: 0;
            width: 100%;
            position: relative;
            top: -10rem;


            h1 {
                font-size: 20px;
            }

            h6 {
                padding: 1rem;
            }
        }
    }

    .evolution {
        .evolution-img {
            overflow-x: scroll;
        }

        h1 {
            font-size: 24px;
        }

        .growth-img {
            width: 200%;
            height: 50%;
        }
    }

    .featured {
        padding: 1rem;

        h1 {
            font-size: 24px;
        }

        .featured-flex {
            justify-content: center;

            .featured-img {
                width: 120px;
                height: 50px;
                margin: 1rem;
                object-fit: cover;
            }
        }

    }

    .investors {
        padding: 1rem;

        .investor-flex {
            flex-wrap: wrap;
        }

        h1 {
            font-size: 24px;
        }

        .investor-image {
            width: 150px;
            object-fit: cover;
            margin: 1rem 0rem;
        }

        .investor-profile {
            width: 50%;
            justify-content: start;
            margin: 1.5rem 0rem;

            img {
                width: 100px;
                height: 100px;
            }

            p {
                text-align: start;
            }

            .text-muted {
                font-size: 12px;
            }
        }
    }

    .founders {
        .container {
            padding: 3rem 1rem 0rem 1rem;
        }

        .founder-profile {
            margin: 0.5rem 0rem;
        }
    }
}

@media (min-width: 768px) and (max-width: 990px) {

    .global-navbar {
        .navbar {
            .navbar-links {
                .navbar-link {
                    display: block;
                    margin: 2rem;
                    text-align: center;
                }

                .darkbtn {
                    width: 100%;
                }
            }
        }
    }

    .homebanner {
        margin: 0rem;
        padding: 1rem !important;


        .banner-content {
            margin: 2rem 0rem;

            .banner-img {
                display: none;
            }
        }

    }

    .products {
        padding: 2rem;

        .product-flex {
            justify-content: center;
        }

        .product-card {
            width: 45%;
            margin: 0.5rem;
            text-align: center;
            height: fit-content;
            padding: 1.5rem;

            img {
                width: 100px;
                height: 100px;
            }
        }
    }

    .zeteffect {
        padding: 4rem;

        .zeteffect-img {
            display: none;
        }

        .zeteffect-internal {
            padding: 5rem 1.5rem;

            h4 {
                font-size: 16px;
                margin: 4rem 0rem 0rem 0rem;
            }


            .zeteffect-swiper {
                .zet-points {
                    padding: 2rem 1rem;
                    font-size: 26px;
                    width: fit-content !important;
                }
            }
        }


    }

    .whyus {
        .whyus-flex {
            padding: 0rem 1rem !important;

            .whyus-col {
                img {
                    display: none;
                }
            }

            .whyus-points {
                padding: 1rem;
                text-align: center;

                p {
                    padding: 0rem;
                }
            }
        }
    }

    .startearning {
        clip-path: polygon(0% 13%, 100% 0%, 100% 87%, 0% 100%);
        padding-top: 25vw;
        padding-bottom: 25vw;

        .earning-container {
            padding: 1rem;

            .earning-slide {
                .earning-steps {
                    padding: 2rem;
                }

                video {
                    width: 130px;
                    height: 270px;
                    border-radius: 5px;
                }
            }
        }


    }


    .footer {
        .container {
            padding: 1rem;

            .footer-col {
                h6 {
                    font-size: 12px;
                }

                .footer-links {
                    font-size: 10px;
                }
            }
        }
    }


    .aboutus-banner {
        margin-bottom: -10rem;

        .aboutus-text {
            width: 100%;
            left: auto;
            top: -15rem;
            position: relative;
            transform: none;
        }

        .about-banner-img {
            object-fit: cover;
            height: 400px;
            width: 100%;
        }
    }

    .evolution {

        h1 {
            font-size: 25px;
        }
    }

    .featured {

        h1 {
            font-size: 25px;
        }

        padding: 3rem;

        .featured-flex {
            .featured-img {
                width: 120px;
                height: 100px;
                margin: 0.2rem;
                object-fit: contain;
            }
        }
    }

    .investors {
        padding: 3rem;

        h1 {
            font-size: 25px;
        }

        .investor-flex {
            .investor-image {
                width: 150px;
                object-fit: contain;
            }
        }

        .investor-profile {
            margin: 0rem;

            img {
                width: 120px;
                object-fit: contain;
            }
        }
    }

    .founders {
        .container {
            padding: 2rem;
            margin: 1rem;

            h1 {
                font-size: 30px;
            }

            .founder-profile {
                margin: 0rem;
                align-items: center;

                p {
                    font-size: 16px;
                }

                .founder-profile-img {
                    width: 200px;
                    height: 200px;
                    object-fit: contain;


                }
            }
        }
    }
}

@media only screen and (min-width: 1400px) {}